# ignore .job outputs
*.out
jobs/outputs/*
jobs/outputs/*
jobs/outputs/PC/*
jobs/outputs/IPC/*
jobs/outputs/PC/slurm_output_7878391_simple.out

jobs/example.job



# Ignore the data folder
data/
jobs/outputs/*
jobs/outputs/PC/*
jobs/outputs/IPC/*

GraphPredCod2/notebooks/training.ipynb
notebooks/training.ipynb
notebooks/trained_models/*/
notebooks/trained_models/**/*

!/jobs/create_jobs/cmds_2_run.txt
!/jobs/create_jobs/create_jobs.py

jobs/create_jobs/*/
jobs/create_jobs/**/*

scr/trained_models/*/
scr/trained_models/**/*
scr/trained_models_experimenting/*/
scr/trained_models_experimenting/**/*

scr/graphs/**/*
scr/graphs/*/
# Don't ignore the specific file you want to track
!/scr/trained_models/most_promising_model.txt

# Ignore the cache folder
cache/

# Ignore Python cache files
__pycache__/
scr/wandb/debug-cli.etatar.log
jobs/example.job
notebooks/training.ipynb
notebooks/training.ipynb
