# ignore .job outputs
*.out
jobs/outputs/*
jobs/outputs/*
jobs/outputs/PC/*
jobs/outputs/IPC/*
jobs/outputs/PC/slurm_output_7878391_simple.out
jobs/*.job



# Ignore the data folder
data/
jobs/outputs/*
jobs/outputs/PC/*
jobs/outputs/IPC/*

GraphPredCod2/notebooks/training.ipynb
notebooks/training.ipynb
notebooks/trained_models/*/
notebooks/trained_models/**/*
notebooks/graphs/*/
notebooks/graphs/**/*
!/jobs/create_jobs/cmds_2_run.txt
!/jobs/create_jobs/create_jobs.py

jobs/create_jobs/*/
jobs/create_jobs/**/*

scr/trained_models/*/
scr/trained_models/**/*
scr2/trained_models/**/*
scr2/trained_models/*/
scr/trained_models_experimenting/*/
scr/trained_models_experimenting/**/*

scr/graphs/**/*
scr/graphs/*/
# Don't ignore the specific file you want to track
!/scr/trained_models/most_promising_model.txt

# Ignore the cache folder
cache/

# Ignore Python cache files
__pycache__/
scr/wandb/debug-cli.etatar.log
jobs/example.job
notebooks/training.ipynb
notebooks/training.ipynb
jobs/best_model_s2s_s2l_impact.job
jobs/PC_uniform.job
jobs/Exp2_uniform.job
jobs/Exp2_uniform.job
scr2/wandb/debug-cli.etatar.log
scr2/**/debug-cli.etatar.log
scr2/*/*.log
scr2/wandb/*

scr2/graphs/fully_connected/_normal/2/edge_index.pt
scr2/graphs/single_hidden_layer/_no_sens2sens_no_sens2sup/2/edge_index.pt
scr2/graphs/**//**//**/edge_index.pt
scr2/graphs/
scr2/graphs/single_hidden_layer/_no_sens2sens_no_sens2sup/2/graph_type.json
scr2/graphs/single_hidden_layer/_no_sens2sens_no_sens2sup/2/edge_index.pt
scr2/graphs/single_hidden_layer/_no_sens2sens_no_sens2sup/2/edge_type.pt
scr3/graphs/**/
scr3/graphs/*/*/
scr3/trained_models/**/

scr3/trained_models/degree_distribution.png
