# Ignore the data folder
data/

notebooks/trained_models/*/
notebooks/trained_models/**/*

!/jobs/create_jobs/cmds_2_run.txt
!/jobs/create_jobs/create_jobs.py

jobs/create_jobs/*/
jobs/create_jobs/**/*

scr/trained_models/*/
scr/trained_models/**/*

# Don't ignore the specific file you want to track
!/scr/trained_models/most_promising_model.txt

# Ignore the cache folder
cache/

# Ignore Python cache files
__pycache__/
